.chat {
    border: 2px solid #dedede;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 10px;
    width: 70%;
    margin: 10px 0;
  }
  
  /* Darker chat container */
  .darker {
    border-color: #ccc;
    background-color:#05728f;
    color: white;
    margin-left: 30% 
  }
  
  /* Clear floats */
  .chat::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: white;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: #999;
  }
