.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin-right: -50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.app-inicio-sesion{
    background-image: url("../../assets/img/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    height:100%;
}

.logo{
    display: block;
    margin: auto;
}
.centerForm{
    margin-top:30%;
}

input:focus {
    outline: none !important;
    border:1px solid black;
}