.logo-element{
    background: black;
}

.menuH{
    background-color: black;
}

.title{
    color: #EC5B91;
    margin-top:20px ;
}

.subtitle{
    color: #fff;
    margin-left: 7%;
}

.icon{
    color: rgb(91, 166, 236);
}

nav{
    background: black;
    height: 1100px;
}

.nav-header{
    background: black;
}   