<div id="wrapper" >
    <app-navigation-v></app-navigation-v>
    <div id="page-wrapper" class="page-wrapper">
      <app-navigation></app-navigation>
      <div *ngIf = "bandera == 1" class="row">
        <div *ngIf="flag == 0" class="loader"></div>
          <div *ngIf="flag != 0" class="wrapper wrapper-content animated fadeInRight">
              <div class="row">
                <div class="col-lg-12">
                  <div class="ibox float-e-margins">
                      <div class="ibox-title">
                          <h5>Gestión de comunidades</h5>
                      </div>          
                    <div class="ibox-content">
                      <div class="row">
                        <div class="col-sm-4 b-r">
                          <form [formGroup]="form" >
                            <div class="form-group">
                              <input type="text" placeholder="Ingrese la comunidad" class="form-control"  formControlName="name">
                            </div>
                            <div>
                              <button [disabled]="form.status == 'INVALID'"  class="btn btn-primary" (click)="add();">Agregar</button>
                            </div>
                          </form>
                        </div> 
                        <div *ngIf="flagLoader == 0" class="loader"></div>
                        <div *ngIf="flagLoader != 0"class="col-sm-8 b-r">
                          <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTables-example" >
                            <thead>
                            <tr>
                              <th>Nombre de comunidad</th>
                              <th>Actividad</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let i of allCommunities">
                              <td>
                                <div class="row">
                                  <input *ngIf="compareId != i.ID" readonly value = "{{i.post_content}}" type="text" placeholder="" class="form-control inputNameRead col-sm-8 b-r">
                                  <form [formGroup]="formNewName">
                                    <input value="{{i.post_content}}" *ngIf="flagEdits == 1 && compareId === i.ID " type="text" placeholder="Ingrese la comunidad" class="form-control inputNameMod col-sm-8 b-r" formControlName="newName">
                                  </form>
                                  <button [disabled]="formNewName.status == 'INVALID'" *ngIf="flagEdits == 1 && compareId === i.ID " class="btn btn-primary espaciado" (click)="edit(i.ID);">Editar</button>
                                </div>
                              </td>
                              <td class="center">
                                <a (click)="modeEdit(i.ID);" class="btn btn-info btn-bitbucket">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a (click)="deleteCommunities(i.ID);" class="btn btn-danger btn-bitbucket">
                                  <i class="fa fa-trash"></i>
                                </a>
                              </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                              <th>Nombre de comunidad</th>
                              <th>Actividad</th>
                            </tr>
                            </tfoot>
                            </table>
                          </div>     
                        </div> 
                      </div>
                    </div>           
                  </div>
                </div>
              </div>        
          </div>
      </div>
    </div>
  </div>  