#page-wrapper {
    padding: inherit;
}
button{
    margin-left: 60%;
}
.btn-primary{
    background:  rgb(91, 166, 236);
    border-color:rgb(91, 166, 236);
    border-radius: 10px 10px 10px 10px;
    color: white;
}