.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.btn-primary {
    background: rgb(91, 166, 236);
    border-color: rgb(91, 166, 236);
    border-radius: 10px 10px 10px 10px;
    margin-left: 370%;
}

.btn-primary:hover {
    background-color: gray;
}

.btn-danger {
    background: #d9534f;
    border-color: #d9534f;
    border-radius: 10px 10px 10px 10px;
}

.btn-danger:hover {
    background-color: gray;
}

.btn-info {
    background: #5bc0de;
    border-color: #5bc0de;
    border-radius: 10px 10px 10px 10px;
}

.br {
    margin-left: 10%;
}

.example-container {
    display: flex;
    flex-direction: column;
}

.example-container>* {
    width: 100%;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}

.loader {
    border: 10px solid #f3f3f3;
    /* Light grey */
    border-top: 10px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin-right: -50%;
    display: block;
    position: relative;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 768px) {
    .btn-primary {
        margin-left: 10%;
    }
}