<div id="wrapper" >
    <app-navigation-v></app-navigation-v>
    <div id="page-wrapper" class="page-wrapper">
        <app-navigation></app-navigation>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Gráfica de rendimiento</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="flot-chart">
                                <canvas #barCanvas></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>