<div id="wrapper">
    <app-navigation-v></app-navigation-v>
    <div id="page-wrapper">
        <app-navigation></app-navigation>
        <div *ngIf="bandera == 1" class="row">
            <div *ngIf="flag == 0" class="loader"></div>
            <div *ngIf="flag != 0" class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>DETALLE DE VIAJE</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="table-responsive">
                                        <mat-form-field>
                                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
                                        </mat-form-field>
                                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                                        <ng-container matColumnDef="ID">
                                            <th mat-header-cell *matHeaderCellDef>  </th>
                                            <td mat-cell *matCellDef="let element">  </td>
                                        </ng-container>
                                        <ng-container matColumnDef="hero">
                                                <th mat-header-cell *matHeaderCellDef> Hero </th>
                                                <td mat-cell *matCellDef="let element"> {{element.hero}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="fecha">
                                                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                                                <td mat-cell *matCellDef="let element"> {{element.fecha | date }} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="origen">
                                                <th mat-header-cell *matHeaderCellDef> Origen </th>
                                                <td mat-cell *matCellDef="let element"> {{element.origen}}  </td>
                                        </ng-container>
                                        <ng-container matColumnDef="destino">
                                                <th mat-header-cell *matHeaderCellDef> Destino </th>
                                                <td mat-cell *matCellDef="let element"> {{element.destino}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="usuarios">
                                                <th mat-header-cell *matHeaderCellDef> Usuarios </th>
                                                <td mat-cell *matCellDef="let element"> 
                                                    <p *ngFor="let user of element.usuarios">
                                                        {{user}}
                                                    </p>    
                                                </td>
                                        </ng-container>
                                        <ng-container matColumnDef="wins">
                                                <th mat-header-cell *matHeaderCellDef> Wins  </th>
                                                <td mat-cell *matCellDef="let element"> {{element.wins}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="option">
                                                <th mat-header-cell *matHeaderCellDef> Opciones </th>
                                                <td mat-cell *matCellDef="let element"> 
                                                        <div class="btn-group">
                                                            <a (click)="travelsDetails(element);" class="btn btn-success btn-bitbucket">
                                                                <i class="far fa-edit"></i>
                                                            </a>
                                                            <a class="btn btn-danger btn-bitbucket" (click)="deleteTravel(element);">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                        </div>
                                                </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                    <mat-paginator #pager [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons #pager></mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>